<a href="https://colab.research.google.com/github/MaureenZac/Revision/blob/main/PYTHON6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x="This is\"Python\" programming"
print(x)

This is"Python" programming

In [2]:
x='He\'s a doctor'
print(x)

He's a doctor

In [3]:
x="Hello\nWorld!"
print(x)

Hello
World!

In [4]:
x="Hello\tWorld!"
print(x)

Hello	World!

In [5]:
print("\"Maureen\" Ann Zachariah")

"Maureen" Ann Zachariah

In [6]:
print('He\'s an aerospace engineer')

He's an aerospace engineer

In [7]:
print("Maureen\nAnn\nZachariah")

Maureen
Ann
Zachariah

In [13]:
x=[]
for i in range(0,4,1):
  a=input("Enter a name")
  b=int(input("Enter index"))
  x.insert(b,a)
x

Enter a nameJohn
Enter index1
Enter a nameArchana
Enter index2
Enter a nameMilton
Enter index3
Enter a nameDavid
Enter index4

['John', 'Archana', 'Milton', 'David']

In [17]:
def archana():
  y=int(input("Enter Index"))
  n=input("Enter a name")
  x.insert(y,n)
x

['John', 'Archana', 'maureen', 'Milton', 'David']

In [20]:
def maureen():
  x=int(input("Enter a number:"))
  y=int(input("Enter a number:"))
  print(x+y)
  print(x-y)
  print(x*y)
  print(x/y)

In [21]:
maureen()

Enter a number:5
Enter a number:10
15
-5
50
0.5

In [35]:
def add(a,b):
  print(a+b)

In [36]:
x=int(input("Enter first value"))
y=int(input("Enter second value"))
add(x,y)

Enter first value25
Enter second value55
80

In [37]:
def subtract(a,b):
  print(a-b)

In [40]:
x=int(input("Enter first value"))
y=int(input("Enter second value"))
subtract(x,y)

Enter first value25
Enter second value55
-30

In [41]:
def multiply(a,b):
  print(a*b)

In [42]:
x=int(input("Enter first value"))
y=int(input("Enter second value"))
multiply(x,y)

Enter first value25
Enter second value55
1375

In [43]:
def divide(a,b):
  print(a/b)

In [45]:
x=int(input("Enter first value"))
y=int(input("Enter second value"))
divide(x,y)

Enter first value25
Enter second value55
0.45454545454545453