<a href="https://colab.research.google.com/github/MaureenZac/Revision/blob/main/PYTHON2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=int(input("Enter your marks"))

Enter your marks50

In [4]:
if x>50:
  print("You have passed")
if x==50:
  print("You are just pass")
if x<50:
  print("You have failed")

You are just pass

In [6]:
x=int(input("Enter your salary"))

Enter your salary250000

In [7]:
if x>250000:
  print("You are taxable")
else:
  print("You are not taxable")

You are not taxable

In [9]:
x=int(input("Enter your salary"))
if x>250000 and x<500000:
  sal=x-250000
  tax=x*10/100
  print("You are taxable",tax)
else:
  print("You are not taxable")

Enter your salary300000
You are taxable 30000.0

In [19]:
x=int(input("Enter your salary"))
if x>250000 and x<500000:
  sal=x-250000
  tax=sal*10/100
  print("You are taxable",tax)
elif x>=500000:
  sal=x-250000
  tax=sal*20/100
  print("You are taxable",tax)
else:
  print("You are not taxable")

Enter your salary600000
You are taxable 70000.0

In [20]:
x=int(input("Enter your salary"))
if x>250000 and x<500000:
  sal=x-250000
  tax=sal*5/100
  print("You are taxable",tax)
elif x>500000 and x<750000:
  sal=x-500000
  tax=(sal*10/100)+(250000*5/100) 
  print("You are taxable",tax)
elif x>750000 and x<1000000:
  sal=x-750000
  tax=(sal*15/100)+(250000*5/100)+(250000*10/100)
  print("You are taxable",tax)
elif x>1000000 and x<1250000:
  sal=x-1000000
  tax=(sal*20/100)+(250000*5/100)+(250000*10/100)+(250000*15/100)
  print("You are taxable",tax)
elif x>1250000 and x<1500000:
  sal=x-1250000
  tax=(sal*25/100)+(250000*5/100)+(250000*10/100)+(250000*15/100)+(250000*20/100)
  print("You are taxable",tax)  
elif x>1500000:
  sal=x-1500000
  tax=(sal*30/100)+(250000*5/100)+(250000*10/100)+(250000*15/100)+(250000*20/100)+(250000*25/100)
  print("You are taxable",tax) 
else:
  print("You are not taxable")

Enter your salary1400000
You are taxable 162500.0